@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../assets/fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../assets/fonts/Montserrat-Bold.ttf') format('truetype');
}
.buttonAlert {
  min-width: 100px;
  max-width: 250px;
  width: 100%;
}

.main {
  padding: 20px;
}

.footer {
  font-family: 'Montserrat-Regular';
}

.not_found {
  padding: 40px;
}
